<div class="kt-subheader kt-grid__item row" id="kt_subheader">
    <div class="col-xl-3 col-md-4 d-xl-flex justify-content-start">
      <div ngbDropdown [placement]="'bottom'" class="dropdown dropdown-inline" data-placement="left">
        <a ngbDropdownToggle href="javascript:;" class="rounded-20 btn kt-subheader__btn-daterange pr-2" data-placement="top" ngbTooltip="Select account">
          <span class="kt-subheader__btn-daterange-title">Account:</span>&nbsp;
          <span class="kt-subheader__btn-daterange-date">{{filters.account}}</span>
          <div class="kt-bg-info round-icon-container">
            <i class="la la-angle-down btn-label-white pr-0"></i>
          </div>
        </a>
        <div ngbDropdownMenu class="dropdown-menu dropdown-menu-left">
          <a href="javascript:;" class="dropdown-item" (click)="updateAccountFilter('All')">All</a>
          <a href="javascript:;" class="dropdown-item" (click)="updateAccountFilter('Account 1')">Account 1</a>
          <a href="javascript:;" class="dropdown-item" (click)="updateAccountFilter('Account 2')">Account 2</a>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-4 d-xl-flex justify-content-center">
      <div ngbDropdown [placement]="'bottom'" class="dropdown dropdown-inline" data-placement="left">
        <a ngbDropdownToggle href="javascript:;" class="rounded-20 btn kt-subheader__btn-daterange pr-2" data-placement="top" ngbTooltip="Select domain">
          <span class="kt-subheader__btn-daterange-title">Domains:</span>&nbsp;
          <span class="kt-subheader__btn-daterange-date">{{filters.domain}}</span>
          <div class="kt-bg-info round-icon-container">
            <i class="la la-angle-down btn-label-white pr-0"></i>
          </div>
        </a>
        <div ngbDropdownMenu class="dropdown-menu dropdown-menu-left">
          <a href="javascript:;" class="dropdown-item" (click)="updateDomainsFilter('All')">All</a>
          <a href="javascript:;" class="dropdown-item" (click)="updateDomainsFilter('drinks.me/256')">drinks.me/256</a>
          <a href="javascript:;" class="dropdown-item" (click)="updateDomainsFilter('hola.me/3569')">hola.me/3569</a>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-4 d-xl-flex justify-content-center">
      <div ngbDropdown [placement]="'bottom'" class="dropdown dropdown-inline" data-placement="left">
        <a ngbDropdownToggle href="javascript:;" class="rounded-20 btn kt-subheader__btn-daterange pr-2" id="kt_dashboard_daterangepicker" data-placement="top" ngbTooltip="Select user">
          <span class="kt-subheader__btn-daterange-title">Users:</span>&nbsp;
          <span class="kt-subheader__btn-daterange-date">{{filters.user}}</span>
          <div class="kt-bg-info round-icon-container">
            <i class="la la-angle-down btn-label-white pr-0"></i>
          </div>
        </a>
        <div ngbDropdownMenu class="dropdown-menu dropdown-menu-left">
          <a href="javascript:;" class="dropdown-item" (click)="updateUsersFilter('All')">All</a>
          <a href="javascript:;" class="dropdown-item" (click)="updateUsersFilter('User 1')">User 1</a>
          <a href="javascript:;" class="dropdown-item" (click)="updateUsersFilter('User 2')">User 2</a>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-4 d-xl-flex justify-content-end">
      <div ngbDropdown [placement]="'bottom'" class="dropdown dropdown-inline" data-placement="left">
        <a ngbDropdownToggle href="javascript:;" class="rounded-20 btn kt-subheader__btn-daterange pr-2" data-placement="top" ngbTooltip="Select tag">
          <span class="kt-subheader__btn-daterange-title">Tags:</span>&nbsp;
          <span class="kt-subheader__btn-daterange-date">{{filters.tag}}</span>
          <div class="kt-bg-info round-icon-container">
            <i class="la la-angle-down btn-label-white pr-0"></i>
          </div>
        </a>
        <div ngbDropdownMenu class="dropdown-menu dropdown-menu-left">
          <a href="javascript:;" class="dropdown-item" (click)="updateTagsFilter('All')">All</a>
          <a href="javascript:;" class="dropdown-item" (click)="updateTagsFilter('Tag 1')">Tag 1</a>
          <a href="javascript:;" class="dropdown-item" (click)="updateTagsFilter('Tag 2')">Tag 2</a>
        </div>
      </div>
    </div>
</div>
<!--<div class="kt-section kt-margin-t-30">-->
  <!--<div class="kt-section__body">-->
    <!--<div class="form-group row">-->
      <!--<label class="col-lg-3 col-form-label">Page Loader:</label>-->
      <!--<div class="col-lg-9 col-xl-4">-->
        <!--<select class="form-control" name="builder[loader][type]" >-->
          <!--<option value="">Disabled</option>-->
          <!--<option value="default">Spinner</option>-->
          <!--<option value="spinner-message">Spinner & Message</option>-->
          <!--<option value="spinner-logo">Spinner & Logo</option>-->
        <!--</select>-->
        <!--<div class="form-text text-muted">Select page loading indicator</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
