.kt-subheader{
  background-color: transparent;
  .dropdown-inline{
    min-width: 250px;
    .btn  {
      width: 100%;
      font-size: 1.2rem;
      height: auto !important;
      min-height: 32px;
      font-weight: normal;
      padding: 8px 20px;
      display: flex;
      justify-content: space-between;
      i{
        font-size: 1.2rem !important;
      }
    }
  }

}
