<div class="kt-portlet__body kt-portlet__body--fit pt-4 pl-5 pr-5">

  <!--begin: Datatable -->
  <div class="kt-datatable kt-datatable--default kt-datatable--scroll kt-datatable--loaded" id="kt_datatable_latest_orders">
    <table #dataTable class="kt-datatable__table" style="display: block; min-height: 500px; max-height: 500px;">
      <thead class="kt-datatable__head">
      <tr class="kt-datatable__row" style="left: 0px;">
        <th class="kt-datatable__cell kt-datatable__toggle-detail d-xl-none"><span></span></th>
        <th data-field="RecordID" class="d-none d-sm-table-cell kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check">
          <span style="width: 80px;">
            <label class="kt-checkbox kt-checkbox--single kt-checkbox--all kt-checkbox--solid">
              <input type="checkbox" #allCheck (change)="changeAllChecks()">&nbsp;<span></span>
            </label>
          </span>
        </th>
        <th class="d-none  d-lg-table-cell kt-datatable__cell kt-datatable__cell--sort" data-sort="asc">
          <span style="width: 100px;">
            Created
            <!--<i class="flaticon2-arrow-up"></i>-->
          </span>
        </th>
        <th data-field="Link" data-autohide-disabled="false" class="kt-datatable__cell kt-datatable__cell--sort">
          <span style="width: 145px;">Links</span>
        </th>
        <th data-field="Destination" data-autohide-disabled="false" class="d-none d-xl-table-cell kt-datatable__cell kt-datatable__cell--sort">
          <span style="width: 150px;">Destination</span>
        </th>
        <th data-field="Hit" data-autohide-disabled="false" class="d-none d-sm-table-cell kt-datatable__cell kt-datatable__cell--sort">
          <span style="width: 80px;">Hits</span>
        </th>
        <th data-field="Status" class="d-none d-sm-table-cell kt-datatable__cell kt-datatable__cell--sort">
          <span style="width: 90px;">Status</span>
        </th>
        <th data-field="UpdatedDate" class="d-none d-lg-table-cell kt-datatable__cell kt-datatable__cell--sort" data-sort="asc">
          <span style="width: 100px;">
            Update Date
            <!--<i class="flaticon2-arrow-up"></i>-->
          </span>
        </th>
        <th data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell kt-datatable__cell--sort">
          <span style="width: 90px;">Actions</span>
        </th>
      </tr>
      </thead>
      <tbody class="kt-datatable__body">
      <ng-container *ngFor="let item of dataSource" [ngTemplateOutlet]="rowTemplate" [ngTemplateOutletContext]="{item:item}"></ng-container>
      </tbody>
    </table>
    <div class="kt-datatable__pager">
      <ul class="kt-datatable__pager-nav">
        <li><button title="First" class="kt-datatable__pager-link kt-datatable__pager-link--first " (click)="changePage(1)" [disabled]="page === 1" [class.kt-datatable__pager-link--disabled]="page === 1"><i class="flaticon2-fast-back"></i></button></li>
        <li><button title="Previous" class="kt-datatable__pager-link kt-datatable__pager-link--prev " (click)="changePage(page - 1)" [disabled]="page === 1" [class.kt-datatable__pager-link--disabled]="page === 1"><i class="flaticon2-back"></i></button></li>
        <li></li>
        <li *ngFor="let el of tempArr; let i = index"><button class="kt-datatable__pager-link kt-datatable__pager-link-number" (click)="changePage(i+1)" [class.kt-datatable__pager-link--active]="page === i+1" title="{{i+1}}">{{i+1}}</button></li>
        <li></li>
        <li><button title="Next" class="kt-datatable__pager-link kt-datatable__pager-link--next" (click)="changePage(page + 1)" [disabled]="page === totalPages" [class.kt-datatable__pager-link--disabled]="page === totalPages"><i class="flaticon2-next"></i></button></li>
        <li><button title="Last" class="kt-datatable__pager-link kt-datatable__pager-link--last" (click)="changePage(totalPages)" [disabled]="page === totalPages" [class.kt-datatable__pager-link--disabled]="page === totalPages"><i class="flaticon2-fast-next"></i></button>
        </li>
      </ul>
      <div class="kt-datatable__pager-info">
        <div ngbDropdown class="dropdown bootstrap-select kt-datatable__pager-size" style="width: 60px;" [placement]="'top'">
          <button ngbDropdownToggle type="button" class="btn dropdown-toggle btn-light pr-2" data-toggle="dropdown" role="button" title="Select page size">
            <div class="filter-option d-flex align-items-center">
              <div class="filter-option-inner">
                <div class="filter-option-inner-inner">{{count}}</div>
              </div>
              <div class="ml-2">
                <i class="flaticon2-down"></i>
                <i class="flaticon2-up"></i>
              </div>
            </div>
          </button>
          <div ngbDropdownMenu class="dropdown-menu dropdown-menu-left">
            <div class="dropdown-item" (click)="changeCount(10)">10</div>
            <div class="dropdown-item" (click)="changeCount(20)">20</div>
            <div class="dropdown-item" (click)="changeCount(30)">30</div>
            <div class="dropdown-item" (click)="changeCount(50)">50</div>
            <div class="dropdown-item" (click)="changeCount(100)">100</div>
          </div>
        </div>
        <span class="kt-datatable__pager-detail">{{paginatorMessage}}</span>
      </div>
    </div>
  </div>

  <!--end: Datatable -->
</div>

<ng-template #rowTemplate let-item="item">
  <ng-container [ngTemplateOutlet]="trTemplate" [ngTemplateOutletContext]="{item:item}"></ng-container>
  <ng-container [ngTemplateOutlet]="trDetailTemplate" [ngTemplateOutletContext]="{item:item, containerClass:'d-xl-none'}"></ng-container>
</ng-template>

<ng-template #trTemplate let-item="item">
  <tr data-row="0" class="kt-datatable__row" style="left: 0px;">
    <ng-container [ngTemplateOutlet]="tdToggleTemplate" [ngTemplateOutletContext]="{ containerClass: 'd-xl-none'}"></ng-container>
    <ng-container [ngTemplateOutlet]="tdCheckTemplate" [ngTemplateOutletContext]="{ width: '80px',containerClass: 'd-none d-sm-table-cell'}"></ng-container>
    <ng-container [ngTemplateOutlet]="tdItemTemplate" [ngTemplateOutletContext]="{ width: '100px',fieldValue: item.created, containerClass: 'd-none d-lg-table-cell', innerClass: 'kt-font-bold' }"></ng-container>
    <ng-container [ngTemplateOutlet]="tdItemTemplate" [ngTemplateOutletContext]="{ width: '150px',fieldValue: item.link, containerClass: '', innerClass: 'kt-font-bold' }"></ng-container>
    <ng-container [ngTemplateOutlet]="tdItemTemplate" [ngTemplateOutletContext]="{ width: '150px',fieldValue: item.destination, containerClass: 'd-none d-xl-table-cell', innerClass: 'kt-font-bold' }"></ng-container>
    <ng-container [ngTemplateOutlet]="tdItemTemplate" [ngTemplateOutletContext]="{ width: '80px',fieldValue: item.hit | abbreviateNumber, containerClass: 'd-none d-sm-table-cell', innerClass: 'kt-font-bold' }"></ng-container>
    <ng-container [ngTemplateOutlet]="tdItemTemplate" [ngTemplateOutletContext]="{ width: '100px',fieldValue: item.status, containerClass: 'd-none d-sm-table-cell', innerClass: item.status === 'active' ? 'btn btn-bold btn-sm btn-font-sm btn-label-success' : 'btn btn-bold btn-sm btn-font-sm btn-label-danger' }"></ng-container>
    <ng-container [ngTemplateOutlet]="tdItemTemplate" [ngTemplateOutletContext]="{ width: '100px',fieldValue: item.updated, containerClass: 'd-none d-lg-table-cell', innerClass: 'kt-font-bold' }"></ng-container>
    <ng-container [ngTemplateOutlet]="tdActionsTemplate" [ngTemplateOutletContext]="{ width: '80px'}"></ng-container>
  </tr>
</ng-template>

<ng-template #tdItemTemplate let-fieldValue="fieldValue" let-width="width" let-innerClass="innerClass" let-containerClass="containerClass">
  <td class="{{containerClass}} kt-datatable__cell--sorted kt-datatable__cell">
    <span [style.width]="width">
      <span class="{{innerClass}}">{{fieldValue}}</span>
    </span>
  </td>
</ng-template>
<ng-template #tdToggleTemplate let-containerClass="containerClass">
  <td appRowToggleDetail class="kt-datatable__cell kt-datatable__toggle-detail {{containerClass}}">
    <div class="kt-datatable__toggle-detail">
      <i class="fa fa-caret-right"></i>
      <i class="fa fa-caret-down"></i>
    </div>
  </td>
</ng-template>
<ng-template #tdCheckTemplate let-width="width" let-containerClass="containerClass">
  <td data-field="RecordID" class="{{containerClass}} kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check">
      <span [style.width]="width">
        <label class="kt-checkbox kt-checkbox--single kt-checkbox--solid">
          <input type="checkbox" value="245">&nbsp;
          <span></span>
        </label>
      </span>
  </td>
</ng-template>
<ng-template #tdActionsTemplate let-width="width">
  <td data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell">
      <span [style.width]="width">
        <div class="d-flex justify-content-between">
          <div><a class="kt-nav__link" href="#" data-placement="left" ngbTooltip="View"><i class="kt-nav__link-icon flaticon2-expand"></i></a></div>
          <div><a class="kt-nav__link" href="#" data-placement="left" ngbTooltip="Export"><i class="kt-nav__link-icon flaticon2-email"></i></a></div>
          <div><a class="kt-nav__link" href="#" data-placement="left" ngbTooltip="Edit"><i class="kt-nav__link-icon flaticon2-contract"></i></a></div>
          <div><a class="kt-nav__link" href="#" data-placement="left" ngbTooltip="Delete"><i class="kt-nav__link-icon flaticon2-trash"></i></a></div>
        </div>
      </span>
  </td>
</ng-template>

<ng-template #trDetailTemplate let-item="item" let-containerClass="containerClass">
  <tr class="kt-datatable__row-detail" [ngClass]="containerClass">
    <td class="kt-datatable__detail" colspan="6">
      <table>
        <ng-container [ngTemplateOutlet]="detailCheckItemTemplate" [ngTemplateOutletContext]="{ width: '40px', containerClass: 'd-sm-none'}"></ng-container>
        <ng-container [ngTemplateOutlet]="detailItemTemplate" [ngTemplateOutletContext]="{fieldLabel:'Created', fieldValue: item.created, width: '100px',innerClass:'kt-font-bold', containerClass: 'd-lg-none'}"></ng-container>
        <ng-container [ngTemplateOutlet]="detailItemTemplate" [ngTemplateOutletContext]="{fieldLabel:'Destination', fieldValue: item.destination, width: '100px',innerClass:'kt-font-bold', containerClass: ''}"></ng-container>
        <ng-container [ngTemplateOutlet]="detailItemTemplate" [ngTemplateOutletContext]="{fieldLabel:'Hit', fieldValue: item.hit | abbreviateNumber, width: '100px', innerClass:'kt-font-bold', containerClass: 'd-sm-none'}"></ng-container>
        <ng-container [ngTemplateOutlet]="detailItemTemplate" [ngTemplateOutletContext]="{fieldLabel:'Status', fieldValue: item.status, width: '100px', innerClass: item.status === 'active' ? 'btn btn-bold btn-sm btn-font-sm btn-label-success' : 'btn btn-bold btn-sm btn-font-sm btn-label-danger', containerClass: 'd-sm-none'}"></ng-container>
        <ng-container [ngTemplateOutlet]="detailItemTemplate" [ngTemplateOutletContext]="{fieldLabel:'Updated Date', fieldValue: item.updated, width: '100px', innerClass:'kt-font-bold', containerClass: 'd-lg-none'}"></ng-container>
      </table>
    </td>
  </tr>
</ng-template>

<ng-template #detailItemTemplate let-fieldLabel="fieldLabel" let-fieldValue="fieldValue" let-width="width" let-innerClass="innerClass" let-containerClass="containerClass">
  <tr class="kt-datatable__row {{containerClass}}">
    <td class="kt-datatable__cell"><span>{{fieldLabel}}</span></td>
    <td class="kt-datatable__cell--sorted kt-datatable__cell" style=""><span [style.width]="width"><span class="{{innerClass}}">{{fieldValue}}</span></span></td>
  </tr>
</ng-template>
<ng-template #detailCheckItemTemplate let-width="width" let-containerClass="containerClass">
  <tr class="kt-datatable__row {{containerClass}}">
    <td class="kt-datatable__cell"><span>#</span></td>
    <td class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell">
      <span [style.width] ="width">
        <label class="kt-checkbox kt-checkbox--single kt-checkbox--solid">
          <input type="checkbox" value="245">&nbsp;
          <span></span>
        </label></span>
    </td>
  </tr>
</ng-template>
