.kt-datatable.kt-datatable--default{
  &>.kt-datatable__table{
    &>.kt-datatable__body{
      max-height: 446px;
      overflow-y: auto;
      .kt-datatable__row-detail{
        display: none;
      }
      .kt-datatable__row{
        .active, .inactive{
          font-weight: 600;
          font-size: 0.85rem;
          padding: .5rem 1rem;
        }
        .active{
          color: #1dc9b7;
          background-color: #1dc9b71a;
        }
        .inactive{
          color: #fd397a1a;
          background-color: #fd397a1a;
        }
        .kt-datatable__toggle-detail .fa-caret-down{
          display: none;
        }
        .kt-nav__link-icon{
          color: #a7abc3;
          font-size: 1.2rem;
          &:hover{
            color: #5867dd;
          }
        }
        &.show-detail{
          &+ .kt-datatable__row-detail{
            display: table-row;
          }

          .kt-datatable__toggle-detail {
            .fa-caret-down{
              display: block;
            }
            .fa-caret-right{
              display: none;
            }
          }
        }
      }
    }
  }
}
