.kt-widget4 .kt-widget4__item:not(:last-child){
  border-bottom: 1px solid #ebedf2;
}
.kt-widget4 {
  .kt-widget4__item{
    &:not(:last-child){
      border-bottom: 1px solid #ebedf2;
    }
    .kt-widget4__title, .kt-widget4__number{
      font-size: 1.8rem;
    }
  }
}
