<div class="kt-subheader kt-grid__item" id="kt_subheader">
  <div class="kt-subheader__toolbar kt-margin-r-10">
    <div class="kt-subheader__wrapper">

      <div ngbDropdown [placement]="'bottom'" class="dropdown dropdown-inline" data-placement="left">
        <a ngbDropdownToggle href="javascript:;" class="rounded-20 btn kt-subheader__btn-daterange pr-2" id="kt_dashboard_daterangepicker" data-placement="top" ngbTooltip="Select daterange">
          <span class="kt-subheader__btn-daterange-title" id="kt_dashboard_daterangepicker_title">{{filter.label}}</span>&nbsp;
          <span class="kt-subheader__btn-daterange-date" id="kt_dashboard_daterangepicker_date">{{filter.date | date:'MMM dd'}}</span>
          <div class="kt-bg-info round-icon-container">
            <i class="la la-angle-down btn-label-white pr-0"></i>
          </div>
        </a>
        <div ngbDropdownMenu class="dropdown-menu dropdown-menu-left">
          <a href="javascript:;" class="dropdown-item" (click)="today()">Today</a>
          <a href="javascript:;" class="dropdown-item" (click)="yesterday()">Yesterday</a>
        </div>
      </div>
    </div>
  </div>
  <div class="kt-subheader__main">
    <button class="btn btn-label-white kt-bg-warning btn-bold rounded-20 btn-icon-h ">
      <i class="la la-plus"></i>Create Link
    </button>
  </div>
</div>
