<div class="kt-footer  kt-footer--extended  kt-grid__item" id="kt_footer">
  <div class="kt-footer__bottom">
    <div class="kt-footer__wrapper">
      <div class="kt-footer__logo">
        <div class="kt-footer__copyright">
          2017&nbsp;©&nbsp; Metronic themes by
          <a href="http://keenthemes.com/metronic" target="_blank">Keenthemes</a>
        </div>
      </div>
      <div class="kt-footer__menu d-flex align-items-center">
        <a href="http://keenthemes.com/metronic" target="_blank">About</a>
        <a href="http://keenthemes.com/metronic" target="_blank">Privacy</a>
        <a href="http://keenthemes.com/metronic" target="_blank">T&C</a>
        <a href="http://keenthemes.com/metronic" target="_blank">Purchase</a>
        <a class="help ml-4" href="http://keenthemes.com/metronic" target="_blank"><i class="la la-question-circle"></i></a>
      </div>
    </div>
  </div>
</div>
