/* You can add global styles to this file, and also import other style files */
@import url(http://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CRoboto:300,400,500,600,700);
@import "assets/css/demo2/style.bundle.css";
@import "assets/vendors/global/vendors.bundle.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~material-design-icons/iconfont/material-icons.css";
@import "~highlight.js/styles/googlecode.css";

// hide bootstrap dropdown arrow globally
.dropdown-toggle::after {
  display: none !important;
}


.mat-table__wrapper--dashboard .mat-table {
  min-width: 600px!important;
  width: 100% !important;
}

.position-static {
  position: static;
}

.rounded-20{
  border-radius: 20px;
}

.btn-label-white{
  color: #fff !important;
}

.round-icon-container{
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
